.dashboard_wrapper{
    .dashboard_insights{
        margin-bottom: 18px;
        color: #000;
        font-size: 24px;
        padding-left: 58px;
    }
    .complaint_vs_non_title{
        margin-bottom: 18px;
        color: #000;
        font-size: 24px;
        padding-left: 20px;
    }
    .complaint_category{
        margin-bottom: 18px;
        color: #000;
        font-size: 24px;
    }
    .donut_pie_chart_wrap{
        background:#fff;
        margin: 0 0 20px 0;
    }
    .dashboard_insights_inventory{
        background: #fff;
        padding:20px 20px 0px 20px;
        h2{
            font-size: 72px;
        }
        p{
            font-size: 24px;
            font-style: normal;
        }
        span{
            display: inline-block;
            width: 100%;
            text-align: right;
            color: #0F62FE;
            cursor: pointer;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        
    }
    .dashboard_pie_donut_chart{
        padding:25px 15px;
        h2{
            font-size: 72px;
        }
        p{
            font-size: 24px;
            font-style: normal;
        }
        .compliance-type{
            margin-bottom: 10px;
        }
        
    }
    .faq_wrap{
        background: #fff;
        margin-top: 20px;
        padding:25px 15px;
        margin-bottom: 20px;
        p{
            font-size: 14px;
            font-style: normal;
            color: #5C5C5C;
            margin-bottom: 20px;;
        }
        a{
            display: block;
            text-decoration: none;
            font-size: 14px;
            color: #0F62FE;
            margin-bottom: 18px;
        }
        .help_icon{
            color:#525252;
            cursor: pointer;
            text-align: right;
        }
    }
}
