.nonComplaint{
    color: #DA1E27;
}
.notScanned{
    color: #F9832B;
}
.complaint{
    color: #25A047;
}

.expendableData{
    width: 100%
}
.subExpendable{
    min-width: 15%;
    float: left;
    padding: 5px 10px;
}